{
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "ciBuild": {
      "properties": {
        "number": {
          "format": "int64",
          "type": "integer"
        },
        "status": {
          "format": "string",
          "type": "string"
        },
        "timestamp": {
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ciBuildDescribeRequest": {
      "properties": {
        "job_name": {
          "format": "string",
          "type": "string"
        },
        "number": {
          "format": "int64",
          "type": "integer"
        },
        "parents": {
          "format": "string",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ciBuildDescribeResponse": {
      "properties": {
        "base_url": {
          "format": "string",
          "type": "string"
        },
        "build_number": {
          "format": "int64",
          "type": "integer"
        },
        "building": {
          "format": "boolean",
          "type": "boolean"
        },
        "built_on": {
          "format": "string",
          "type": "string"
        },
        "console_output": {
          "format": "string",
          "type": "string"
        },
        "duration": {
          "format": "int64",
          "type": "integer"
        },
        "estimated_duration": {
          "format": "int64",
          "type": "integer"
        },
        "full_display_name": {
          "format": "string",
          "type": "string"
        },
        "job_name": {
          "format": "string",
          "type": "string"
        },
        "parents": {
          "format": "string",
          "type": "string"
        },
        "result": {
          "format": "string",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/dtypesStatus"
        }
      },
      "type": "object"
    },
    "ciBuildListRequest": {
      "properties": {
        "job_name": {
          "format": "string",
          "type": "string"
        },
        "parents": {
          "format": "string",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ciBuildListResponse": {
      "properties": {
        "builds": {
          "items": {
            "$ref": "#/definitions/ciBuild"
          },
          "type": "array"
        },
        "job_name": {
          "format": "string",
          "type": "string"
        },
        "parents": {
          "format": "string",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/dtypesStatus"
        }
      },
      "type": "object"
    },
    "dtypesHelp": {
      "properties": {
        "description": {
          "format": "string",
          "title": "Describe what link offers",
          "type": "string"
        },
        "url": {
          "description": "The URL of The link.",
          "format": "string",
          "type": "string"
        }
      },
      "title": "Provides links to documentation or for performing an out of band action.\nNext Id 3;",
      "type": "object"
    },
    "dtypesStatus": {
      "description": "Next Id 5.",
      "properties": {
        "code": {
          "format": "string",
          "title": "Response status code",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
          "items": {
            "$ref": "#/definitions/protobufAny"
          },
          "type": "array"
        },
        "help": {
          "$ref": "#/definitions/dtypesHelp",
          "description": "Optional. Help link if there is an error."
        },
        "message": {
          "description": "User facing message.",
          "format": "string",
          "type": "string"
        },
        "status": {
          "description": "Response status code string.",
          "format": "string",
          "type": "string"
        }
      },
      "type": "object"
    },
    "protobufAny": {
      "description": "`Any` contains an arbitrary serialized message along with a URL\nthat describes the type of the serialized message.\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }",
      "properties": {
        "type_url": {
          "description": "A URL/resource name whose content describes the type of the\nserialized message.\n\nFor URLs which use the schema `http`, `https`, or no schema, the\nfollowing restrictions and interpretations apply:\n\n* If no schema is provided, `https` is assumed.\n* The last segment of the URL's path must represent the fully\n  qualified name of the type (as in `path/google.protobuf.Duration`).\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nSchemas other than `http`, `https` (or the empty schema) might be\nused with implementation specific semantics.",
          "format": "string",
          "type": "string"
        },
        "value": {
          "description": "Must be valid serialized data of the above specified type.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.appscode.com",
  "info": {
    "title": "build.proto",
    "version": "0.1"
  },
  "paths": {
    "/appscode/api/ci/v0.1/builds/{job_name}": {
      "get": {
        "operationId": "List",
        "parameters": [
          {
            "format": "string",
            "in": "path",
            "name": "job_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description",
            "schema": {
              "$ref": "#/definitions/ciBuildListResponse"
            }
          }
        },
        "tags": [
          "Builds"
        ]
      }
    },
    "/appscode/api/ci/v0.1/builds/{job_name}/{number}": {
      "get": {
        "operationId": "Describe",
        "parameters": [
          {
            "format": "string",
            "in": "path",
            "name": "job_name",
            "required": true,
            "type": "string"
          },
          {
            "format": "int64",
            "in": "path",
            "name": "number",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Description",
            "schema": {
              "$ref": "#/definitions/ciBuildDescribeResponse"
            }
          }
        },
        "tags": [
          "Builds"
        ]
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0"
}